<style>
.ar_collection_block {
  width: 100%;
  height: auto;
}
.ar_collection_block h2 {
  color: #AB572D;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 55px 0;
}
.ar_collection_block .collection_block_wrapper {
  display: flex;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ar_collection_block .block__col {
  position: relative;
  width: calc(50% - 22px);
  height: 460px;
}
.ar_collection_block .collection_block_wrapper .block__col:nth-child(1) {
  width: calc(35% - 22px);
}
.ar_collection_block .collection_block_wrapper .block__col:nth-child(2) {
  width: calc(65% - 22px);
}
.ar_collection_block .collection_block_wrapper .block__col:nth-child(5) {
  width: calc(26% - 22px);
}
.ar_collection_block .collection_block_wrapper .block__col:nth-child(6),
.ar_collection_block .collection_block_wrapper .block__col:nth-child(7) {
  width: calc(37% - 22px);
}
.ar_collection_block .block_image {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}
.block_image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}
.ar_collection_block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.ar_collection_block .block_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: end;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}
.ar_collection_block .block_content:hover {
  background-color: #ab572d52;
}
.ar_collection_block .block_content:hover h3 {
  font-size: 25px; 
  color: #ffdfd0;
}
.ar_collection_block h3 {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  transition: 0.4s ease-in-out;
}
@media screen and (max-width: 991px) {
.ar_collection_block .block__col,
.ar_collection_block .collection_block_wrapper .block__col:nth-child(1), 
.ar_collection_block .collection_block_wrapper .block__col:nth-child(2),
.ar_collection_block .collection_block_wrapper .block__col:nth-child(5),
.ar_collection_block .collection_block_wrapper .block__col:nth-child(6),
.ar_collection_block .collection_block_wrapper .block__col:nth-child(7) {
  width: calc(50% - 15px);
}
}
@media screen and (max-width: 767px) {
.ar_collection_block h2 {
  font-size: 28px;
  margin: 0 0 30px 0;
}
.ar_collection_block h3 {
  font-size: 20px;
}
.ar_collection_block .block__col,
.ar_collection_block .collection_block_wrapper .block__col:nth-child(1), 
.ar_collection_block .collection_block_wrapper .block__col:nth-child(2),
.ar_collection_block .collection_block_wrapper .block__col:nth-child(5),
.ar_collection_block .collection_block_wrapper .block__col:nth-child(6),
.ar_collection_block .collection_block_wrapper .block__col:nth-child(7) {
  width: 100%;
}
}
</style>
{% style %}
 {% for block in section.blocks %}
  #block__col-{{ block.id }}  .block_image .overlay {
     opacity:{{ block.settings.img_overly }}; 
  }
{% endfor %}

  #ar_collection_block-{{ section.id }} h2 {
    color:{{ section.settings.font_color }}; 
  }
  #ar_collection_block-{{ section.id }} {
    background-color:{{ section.settings.bg_color }};
    padding-top:{{ section.settings.desktop_padding_top }}px;
    padding-bottom:{{ section.settings.desktop_padding_bottom }}px;
    margin-top:{{ section.settings.desktop_margin_top }}px;
    margin-bottom:{{ section.settings.desktop_margin_bottom }}px;
  }
  @media screen and (max-width: 991px) { 
    #ar_collection_block-{{ section.id }} {
      padding-top:{{ section.settings.mbl_padding_top }}px;
      padding-bottom:{{ section.settings.mbl_padding_bottom }}px;
      margin-top:{{ section.settings.mbl_margin_top }}px;
      margin-bottom:{{ section.settings.mbl_margin_bottom }}px;
    }
  }
{% endstyle %}

<section class="ar_collection_block" id="ar_collection_block-{{ section.id }}">
  <div class="page-width">
        {% if section.settings.heading != blank %}
          <h2>{{ section.settings.heading }}</h2>
        {% endif %}
      <div class="collection_block_wrapper">
        {% for block in section.blocks %}
            <div class="block__col" id="block__col-{{ block.id }}"> 
                {% assign colitem = collections[block.settings.collection] %}
                {% if colitem.image != blank %}
                  <div class="block_image">
                    {{ colitem.image | image_url: width: colitem.image.width | image_tag: loading: 'lazy' }}
                    <div class="overlay"></div>
                  </div>  
                {% endif %}
                <a href="{{ colitem.url }}" class="block_content"> 
                  <h3>{{ colitem.title }}</h3>
                </a>
            </div> 
        {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "AR Collection Block",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Collections"
    },
    {
      "type": "header",
      "content": "Section Color Setting"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "BG Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Main Heading Color",
      "default": "#000433"
    },
    {
      "type": "header",
      "content": "Section Desktop Spacing"
    },
    {
      "type": "range",
      "id": "desktop_padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop_margin_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Mobile Spacing"
    },
    {
      "type": "range",
      "id": "mbl_padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mbl_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "mbl_margin_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mbl_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "select",
          "id": "image-size",
          "label": "Card Width",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "img_overly",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "unit": "px",
          "label": "Image Overly",
          "default": 0.3
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AR Collection Block"
    }
  ]
}
{% endschema %}