<style>
.ar_content_with_bg {
  width: 100%;
  height: auto;
  background-image: url('{{ section.settings.bg_image | img_url: 'master' }}');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.ar_content_with_bg .overlay {
  display: block !important;
  width: 100%;
  height: 100%;
  background: aqua;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.ar_content_with_bg .content_inner {
  position: relative;
  z-index: 2;
}
.ar_content_with_bg  h2 {
  font-family: Quantico, sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  line-height: normal; 
  padding-bottom: 20px;
  margin: 0;
}
.ar_content_with_bg span.desc {
  display: block;
  padding-bottom: 10px;
}
.ar_content_with_bg span.desc,
.ar_content_with_bg span.desc p {
  font-family: Quantico, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: normal; 
  margin: 0;
}
.ar_content_with_bg a.pramiry_btn {
  font-family: Quantico, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  text-decoration: none;
  max-width: 150px;
  height: 50px;
  margin-top: 50px;
  transition: 0.4s ease-in-out;
}
</style> 
{%- style -%}
#ar_content_with_bg-{{ section.id }} .content_inner {
  max-width: {{ section.settings.max-with }}px;
}
#ar_content_with_bg-{{ section.id }} h2 {
  color: {{ section.settings.headline_color }};
}
#ar_content_with_bg-{{ section.id }} span.desc,
#ar_content_with_bg-{{ section.id }} span.desc p {
  color: {{ section.settings.desc_color }};
} 
#ar_content_with_bg-{{ section.id }} a.pramiry_btn {
  color:{{ section.settings.btn_text_color }}; 
  background-color:{{ section.settings.btn_bg_color }}; 
  border: 1px solid {{ section.settings.btn_bg_color }};
}
#ar_content_with_bg-{{ section.id }} a.pramiry_btn:hover {
  color:{{ section.settings.hover_btn_text_color }}; 
  background-color:{{ section.settings.hover_btn_bg_color }};
}
#ar_content_with_bg-{{ section.id }} {
  padding-top:{{ section.settings.desktop_padding_top }}px;
  padding-bottom:{{ section.settings.desktop_padding_bottom }}px;
  margin-top:{{ section.settings.desktop_margin_top }}px; 
  margin-bottom:{{ section.settings.desktop_margin_bottom }}px;
} 
@media screen and (max-width: 991px) { 
  #ar_content_with_bg-{{ section.id }} {
    padding-top:{{ section.settings.mbl_padding_top }}px;
    padding-bottom:{{ section.settings.mbl_padding_bottom }}px;
    margin-top:{{ section.settings.mbl_margin_top }}px;
    margin-bottom:{{ section.settings.mbl_margin_bottom }}px;
  }
}
{%- endstyle -%}
<section class="ar_content_with_bg" id="ar_content_with_bg-{{ section.id }}">
    <div class="page-with">
        <div class="overlay"></div>
        <div class="content_inner">
              {% if section.settings.headline != blank %}
                <h2>{{ section.settings.headline }}</h2>
              {% endif %}
              {% if section.settings.desc != blank %}
                <span class="desc">{{ section.settings.desc }}</span>
              {% endif %}
              {% if section.settings.btn_text != blank %}
                <a href="{{ section.settings.btn_url }}" class="pramiry_btn">{{ section.settings.btn_text }}</a>
              {% endif %}
        </div>
    </div> 
</section>
                          
{% schema %}
  {
    "name": "AR Content With BG",
    "settings": [ 
      {
        "type": "image_picker", 
        "id": "bg_image",
        "label": "Bg Image"
      },
      {
        "type": "text", 
        "id": "headline",
        "label": "Headline",
        "default": "Welcome to Local Face" 
      },
      {
        "type": "richtext", 
        "id": "desc", 
        "label": "Description",
        "default": "<p>Welcome to Local Face Perfumes, where the spirit of victory and triumph come alive through scents that empower and inspire. Our curated collection, aptly named 'Victory Scented,' is a celebration of success and elegance, designed to unleash your victorious essence. Indulge in the sweet taste of triumph with captivating fragrances that tell the tale of your achievements. At Local Face, we believe that every victory deserves a signature scent, and we are dedicated to providing unforgettable fragrances that elevate your spirit and empower your journey.</p>" 
      },
      {
        "type": "text", 
        "id": "btn_text",
        "label": "Button Text"
      },
      {
        "type": "text", 
        "id": "btn_url",
        "label": "Button Url"
      },
      {
        "type":"header",
        "content":"Section Color Settings"
      },
      {
        "type": "color",
        "id": "headline_color",
        "label": "Headline color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "desc_color",
        "label": "Description color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "btn_text_color",
        "label": "Button Text Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "btn_bg_color",
        "label": "Button BG Color",
        "default": "#AB572D"
      },
      {
        "type": "color",
        "id": "hover_btn_text_color",
        "label": "Hover Button Text Color",
        "default": "#AB572D"
      },
      {
        "type": "color",
        "id": "hover_btn_bg_color",
        "label": "Hover Button BG Color",
        "default": "#fff"
      },
      {
        "type":"header",
        "content":"Section Desktop Spacing" 
      }, 
      {
        "type": "range",
        "id": "desktop_padding_top",
        "min": 0,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Desktop Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop_padding_bottom",
        "min": 0,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Desktop Padding Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop_margin_top",
        "min": 0,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Desktop Margin Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop_margin_bottom",
        "min": 0,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Desktop Margin Bottom",
        "default": 0
      },
      {
        "type":"header",
        "content":"Section Mobile Spacing"
      }, 
      {
        "type": "range",
        "id": "mbl_padding_top",
        "min": 0,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Mobile Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "mbl_padding_bottom",
        "min": 0,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Mobile Padding Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "mbl_margin_top",
        "min": 0,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Mobile Margin Top",
        "default": 0 
      },
      {
        "type": "range",
        "id": "mbl_margin_bottom",
        "min": 0,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Mobile Margin Bottom",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "AR Content With BG" 
      }
    ]
  }
{% endschema %}