<style>
.ar_content_with_bg {
  width: 100%;
  height: auto;
  background-image: url('{{ section.settings.bg_image | img_url: 'master' }}');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ar_content_with_bg .container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.ar_content_with_bg .top--headline {
  text-align: left;
  max-width: 920px;
  margin: 0 auto; 
  padding: 0 60px 20px;
}
.ar_content_with_bg .top--headline h2 {
  color: #FFF;
  font-size: 52px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
}
.ar_content_with_bg .mm--slider-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ar_content_with_bg .mm--image {
    max-width: 400px;
}
.ar_content_with_bg .mm--image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ar_content_with_bg  .dodod {
  width: 100%;
  position: relative;
  max-width: 620px;
}
.ar_content_with_bg .mm--cards-inner {
  position: relative;
  margin-left: -80px;
 max-width: 700px;
  height: 410px;
  top: -20px;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col {
  width: 100%;
  max-width: 800px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col.hide { 
  visibility: hidden;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide) {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s cubic-bezier(0.18, 0.98, 0.45, 1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="0"] {
  transform: translate(0px, 0px) scale(1);
  z-index: 6;
  opacity: 1;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="1"] {
  transform: translate(0px, 15px) scale(0.975);
  z-index: 5;
  opacity: 0.8;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="2"] {
  transform: translate(0px, 30px) scale(0.95);
  z-index: 4;
  opacity: 0.7;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="3"] {
  transform: translate(0px, 45px) scale(0.925);
  z-index: 3;
  opacity: 0.6;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="4"] {
  transform: translate(0px, 60px) scale(0.9);
  z-index: 2;
  opacity: 0.4;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="5"] {
  transform: translate(0px, 75px) scale(0.925);
  z-index: 1;
  opacity: 0.2;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="0"] {
  transition: all 0.32s cubic-bezier(0.18, 0.98, 0.45, 1);
}
.ar_content_with_bg .card--content--inner {
    padding: 60px 40px;
}
.ar_content_with_bg .content--inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ar_content_with_bg h3 {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  margin: 0;
  position: relative;
}
.ar_content_with_bg h3:before {
  content: '"';
  position: absolute; 
  top: -25px;
  left: -5px;
  color: red;
}
.ar_content_with_bg h4 {
  color: #000;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  margin: 0;
}
.ar_content_with_bg span  p {
  color: var(--neutral-07100, #141718);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}
.ar_content_with_bg .slider--arrows {
  display: flex;
  gap: 10px;
  position: relative;
  top: -60px;
  justify-content: flex-end;
}
.ar_content_with_bg .arrow {
  background: #a62400;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
@media screen and (max-width: 991px) {
.ar_content_with_bg h3 {
  font-size: 32px;
  line-height: 34px;
}
.ar_content_with_bg span p {
  font-size: 20px;
  line-height: 24px;
}
.ar_content_with_bg h4 {
  font-size: 22px;
  line-height: 28px;
}
}
@media screen and (max-width: 767px) {
.ar_content_with_bg .top--headline {
  padding: 0 0 50px;
} 
.ar_content_with_bg .top--headline h2 {
  font-size: 36px;
  max-width: 400px;
}
.mm--slider-inner {
  flex-direction: column;
}
.ar_content_with_bg .mm--image {
  max-width: 100%;
}
.ar_content_with_bg .dodod {
  width: 100%;
  position: relative;
  max-width: 100%;
}
.ar_content_with_bg .mm--cards-inner {
  margin-left: 0;
  width: 100%;
  height: 330px;
  margin-top: -140px;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="0"] {
  transform: translate(0px, 0px) scale(1);
  z-index: 6;
  opacity: 1;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="1"] {
  transform: translate(0px, 0px) scale(0.975);
  z-index: 5;
  opacity: 0.8;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="2"] {
  transform: translate(0px, 0px) scale(0.95);
  z-index: 4;
  opacity: 0.7;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="3"] {
  transform: translate(0px, 0px) scale(0.925);
  z-index: 3;
  opacity: 0.6;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="4"] {
  transform: translate(0px, 0px) scale(0.9);
  z-index: 2;
  opacity: 0.4;
}
.ar_content_with_bg .mm--cards-inner .mm--card-col:not(.hide)[data-slide="5"] {
  transform: translate(0px, 0px) scale(0.925);
  z-index: 1;
  opacity: 0.2;
}
.ar_content_with_bg .card--content--inner {
  padding: 40px 30px;
}
.ar_content_with_bg .content--inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ar_content_with_bg h3 {
  font-size: 28px;
  line-height: 34px;
}
.ar_content_with_bg span p {
  font-size: 16px;
  line-height: 22px;
}
.ar_content_with_bg h4 {
  font-size: 20px;
  line-height: 26px;
}
.ar_content_with_bg .mm--slider-inner {
  position: relative;
}
.ar_content_with_bg .dodod {
  position: unset !important;
}
.ar_content_with_bg .slider--arrows {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 0;
  top: -60px;
}
}
</style> 
{%- style -%}
#ar_content_with_bg-{{ section.id }} h2 {
  color: {{ section.settings.headline_color }}
} 
#ar_content_with_bg-{{ section.id }} {
  padding-top:{{ section.settings.desktop_padding_top }}px;
  padding-bottom:{{ section.settings.desktop_padding_bottom }}px;
  margin-top:{{ section.settings.desktop_margin_top }}px; 
  margin-bottom:{{ section.settings.desktop_margin_bottom }}px;
} 
@media screen and (max-width: 991px) { 
  #ar_content_with_bg-{{ section.id }} {
    padding-top:{{ section.settings.mbl_padding_top }}px;
    padding-bottom:{{ section.settings.mbl_padding_bottom }}px;
    margin-top:{{ section.settings.mbl_margin_top }}px;
    margin-bottom:{{ section.settings.mbl_margin_bottom }}px;
  }
}
{%- endstyle -%}
<section class="ar_content_with_bg" id="ar_content_with_bg-{{ section.id }}">
    <div class="page-with">
        <div class="content_inner">
              {% if section.settings.headline != blank %}
                <h2>{{ section.settings.headline }}</h2>
              {% endif %}
              {% if section.settings.desc != blank %}
                <span class="desc">{{ section.settings.desc }}</span>
              {% endif %}
              {% if section.settings.btn_text != blank %}
                <a href="{{ section.settings.btn_url }}" class="pramiry_btn">{{ section.settings.btn_text }}</a>
              {% endif %}
        </div>
    </div> 
</section>
                          
{% schema %}
  {
    "name": "AR Content With BG",
    "settings": [ 
      {
        "type": "image_picker", 
        "id": "bg_image",
        "label": "Bg Image"
      },
      {
        "type": "text", 
        "id": "headline",
        "label": "Headline",
        "default": "Welcome to Local Face" 
      },
      {
        "type": "text", 
        "id": "desc",
        "label": "Description",
        "default": "<p>Welcome to Local Face Perfumes, where the spirit of victory and triumph come alive through scents that empower and inspire. Our curated collection, aptly named 'Victory Scented,' is a celebration of success and elegance, designed to unleash your victorious essence. Indulge in the sweet taste of triumph with captivating fragrances that tell the tale of your achievements. At Local Face, we believe that every victory deserves a signature scent, and we are dedicated to providing unforgettable fragrances that elevate your spirit and empower your journey.</p>" 
      },
      {
        "type": "text", 
        "id": "btn_text",
        "label": "Button Text"
      },
      {
        "type": "text", 
        "id": "btn_url",
        "label": "Button Url"
      },
      {
        "type":"header",
        "content":"Section Desktop Spacing" 
      }, 
      {
        "type": "range",
        "id": "desktop_padding_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Desktop Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Desktop Padding Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop_margin_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Desktop Margin Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop_margin_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Desktop Margin Bottom",
        "default": 0
      },
      {
        "type":"header",
        "content":"Section Mobile Spacing"
      }, 
      {
        "type": "range",
        "id": "mbl_padding_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Mobile Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "mbl_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Mobile Padding Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "mbl_margin_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Mobile Margin Top",
        "default": 0 
      },
      {
        "type": "range",
        "id": "mbl_margin_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Mobile Margin Bottom",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "AR Content With BG" 
      }
    ]
  }
{% endschema %}