<style>
.mm--cards-slider {
  width: 100%;
  height: auto;
  background-image: url('{{ section.settings.bg_image | img_url: 'master' }}');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mm--cards-slider .container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.mm--cards-slider .top--headline {
  text-align: left;
  max-width: 920px;
  margin: 0 auto; 
  padding: 0 60px 20px;
}
.mm--cards-slider .top--headline h2 {
  color: #FFF;
  font-size: 52px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
}
.mm--cards-slider .mm--slider-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mm--cards-slider .mm--image {
    max-width: 400px;
}
.mm--cards-slider .mm--image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mm--cards-slider  .dodod {
  width: 100%;
  position: relative;
  max-width: 620px;
}
.mm--cards-slider .mm--cards-inner {
  position: relative;
  margin-left: -80px;
 max-width: 700px;
  height: 410px;
  top: -20px;
}
.mm--cards-slider .mm--cards-inner .mm--card-col {
  width: 100%;
  max-width: 800px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
}
.mm--cards-slider .mm--cards-inner .mm--card-col.hide { 
  visibility: hidden;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide) {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.8s cubic-bezier(0.18, 0.98, 0.45, 1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="0"] {
  transform: translate(0px, 0px) scale(1);
  z-index: 6;
  opacity: 1;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="1"] {
  transform: translate(0px, 15px) scale(0.975);
  z-index: 5;
  opacity: 0.8;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="2"] {
  transform: translate(0px, 30px) scale(0.95);
  z-index: 4;
  opacity: 0.7;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="3"] {
  transform: translate(0px, 45px) scale(0.925);
  z-index: 3;
  opacity: 0.6;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="4"] {
  transform: translate(0px, 60px) scale(0.9);
  z-index: 2;
  opacity: 0.4;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="5"] {
  transform: translate(0px, 75px) scale(0.925);
  z-index: 1;
  opacity: 0.2;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="0"] {
  transition: all 0.32s cubic-bezier(0.18, 0.98, 0.45, 1);
}
.mm--cards-slider .card--content--inner {
    padding: 60px 40px;
}
.mm--cards-slider .content--inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mm--cards-slider h3 {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  margin: 0;
  position: relative;
}
.mm--cards-slider h3:before {
  content: '"';
  position: absolute; 
  top: -25px;
  left: -5px;
  color: red;
}
.mm--cards-slider h4 {
  color: #000;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  margin: 0;
}
.mm--cards-slider span  p {
  color: var(--neutral-07100, #141718);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}
.mm--cards-slider .slider--arrows {
  display: flex;
  gap: 10px;
  position: relative;
  top: -60px;
  justify-content: flex-end;
}
.mm--cards-slider .arrow {
  background: #a62400;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
@media screen and (max-width: 991px) {
.mm--cards-slider h3 {
  font-size: 32px;
  line-height: 34px;
}
.mm--cards-slider span p {
  font-size: 20px;
  line-height: 24px;
}
.mm--cards-slider h4 {
  font-size: 22px;
  line-height: 28px;
}
}
@media screen and (max-width: 767px) {
.mm--cards-slider .top--headline {
  padding: 0 0 50px;
} 
.mm--cards-slider .top--headline h2 {
  font-size: 36px;
  max-width: 400px;
}
.mm--slider-inner {
  flex-direction: column;
}
.mm--cards-slider .mm--image {
  max-width: 100%;
}
.mm--cards-slider .dodod {
  width: 100%;
  position: relative;
  max-width: 100%;
}
.mm--cards-slider .mm--cards-inner {
  margin-left: 0;
  width: 100%;
  height: 330px;
  margin-top: -140px;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="0"] {
  transform: translate(0px, 0px) scale(1);
  z-index: 6;
  opacity: 1;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="1"] {
  transform: translate(0px, 0px) scale(0.975);
  z-index: 5;
  opacity: 0.8;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="2"] {
  transform: translate(0px, 0px) scale(0.95);
  z-index: 4;
  opacity: 0.7;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="3"] {
  transform: translate(0px, 0px) scale(0.925);
  z-index: 3;
  opacity: 0.6;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="4"] {
  transform: translate(0px, 0px) scale(0.9);
  z-index: 2;
  opacity: 0.4;
}
.mm--cards-slider .mm--cards-inner .mm--card-col:not(.hide)[data-slide="5"] {
  transform: translate(0px, 0px) scale(0.925);
  z-index: 1;
  opacity: 0.2;
}
.mm--cards-slider .card--content--inner {
  padding: 40px 30px;
}
.mm--cards-slider .content--inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.mm--cards-slider h3 {
  font-size: 28px;
  line-height: 34px;
}
.mm--cards-slider span p {
  font-size: 16px;
  line-height: 22px;
}
.mm--cards-slider h4 {
  font-size: 20px;
  line-height: 26px;
}
.mm--cards-slider .mm--slider-inner {
  position: relative;
}
.mm--cards-slider .dodod {
  position: unset !important;
}
.mm--cards-slider .slider--arrows {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 0;
  top: -60px;
}
}
</style> 
{%- style -%}
#mm--cards-slider-{{ section.id }} {
  padding-top:{{ section.settings.desktop_padding_top }}px;
  padding-bottom:{{ section.settings.desktop_padding_bottom }}px;
  margin-top:{{ section.settings.desktop_margin_top }}px; 
  margin-bottom:{{ section.settings.desktop_margin_bottom }}px;
} 
@media screen and (max-width: 991px) { 
  #mm--cards-slider-{{ section.id }} {
    padding-top:{{ section.settings.mbl_padding_top }}px;
    padding-bottom:{{ section.settings.mbl_padding_bottom }}px;
    margin-top:{{ section.settings.mbl_margin_top }}px;
    margin-bottom:{{ section.settings.mbl_margin_bottom }}px;
  }
}
{%- endstyle -%}
<section class="mm--cards-slider" id="mm--cards-slider-{{ section.id }}">
    <div class="container">
        <div class="top--headline">
          {% if section.settings.headline != blank %}
            <h2>{{ section.settings.headline }}</h2> 
          {% endif %} 
        </div>
        <div class="mm--slider-inner">
            {% if section.settings.mm_image != blank %}  
              <div class="mm--image">
                     {{ section.settings.mm_image | image_url: width: section.settings.mm_image.width | image_tag: loading: 'lazy' }}
              </div> 
            {% endif %} 
          <div class="dodod">
            <div class="slider--arrows">
              <button class="arrow prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="#fff">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4091 7.26521C10.0032 6.8906 9.37058 6.9159 8.99597 7.32172L5.7652 10.8217C5.4116 11.2047 5.4116 11.7952 5.76519 12.1782L8.99597 15.6783C9.37057 16.0841 10.0032 16.1094 10.409 15.7348C10.8149 15.3602 10.8402 14.7276 10.4656 14.3217L8.78397 12.5L18.5 12.5C19.0523 12.5 19.5 12.0523 19.5 11.5C19.5 10.9477 19.0523 10.5 18.5 10.5L8.784 10.5L10.4656 8.67829C10.8402 8.27247 10.8149 7.63981 10.4091 7.26521Z" fill="#fff"/>
                  </svg>
              </button>
              <button class="arrow next">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="#fff">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5909 7.26521C14.9968 6.8906 15.6294 6.9159 16.004 7.32172L19.2348 10.8217C19.5884 11.2047 19.5884 11.7952 19.2348 12.1782L16.004 15.6783C15.6294 16.0841 14.9968 16.1094 14.591 15.7348C14.1851 15.3602 14.1598 14.7276 14.5344 14.3217L16.216 12.5L6.5 12.5C5.94771 12.5 5.5 12.0523 5.5 11.5C5.5 10.9477 5.94771 10.5 6.5 10.5L16.216 10.5L14.5344 8.67829C14.1598 8.27247 14.1851 7.63981 14.5909 7.26521Z" fill="#fff"/>
                </svg>
              </button> 
            </div>
            <div class="mm--cards-inner">
              {% for block in section.blocks %} 
               <div class="mm--card-col">
                <div class="card--content--inner"> 
                  <div class="content--inner">  
                    {% if block.settings.headline != blank %} 
                      <h3>{{ block.settings.headline }}</h3>
                    {% endif %}
                    {% if block.settings.desc != blank %} 
                      <span>{{ block.settings.desc }}</span>
                    {% endif %}
                    
                    <span class="star_svg">
                {% for i in (1..5) %}
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="#a62400">
                        <path d="M7.53834 1.10997C7.70914 0.699319 8.29086 0.699318 8.46166 1.10996L9.99874 4.80556C10.0707 4.97868 10.2336 5.09696 10.4204 5.11194L14.4102 5.4318C14.8535 5.46734 15.0332 6.02059 14.6955 6.30993L11.6557 8.91378C11.5133 9.03576 11.4512 9.22715 11.4947 9.40952L12.4234 13.3028C12.5265 13.7354 12.0559 14.0773 11.6764 13.8455L8.26063 11.7592C8.10062 11.6615 7.89938 11.6615 7.73937 11.7592L4.32363 13.8455C3.94408 14.0773 3.47345 13.7354 3.57665 13.3028L4.50534 9.40952C4.54884 9.22715 4.48665 9.03576 4.34426 8.91378L1.30453 6.30993C0.966758 6.02059 1.14652 5.46734 1.58985 5.4318L5.57955 5.11194C5.76645 5.09696 5.92925 4.97868 6.00126 4.80556L7.53834 1.10997Z" fill="#a62400"/>
                      </svg> 
                {% endfor %}
                    </span>
                    {% if block.settings.name_text != blank %}
                      <h4>{{ block.settings.name_text }}</h4>
                    {% endif %}
                  </div>  
                </div>
            </div>  
            {% endfor %} 
            </div>
          </div> 
        </div>
    </div> 
</section>
<script>
window.onload = () => {
    let sliderImagesBox = document.querySelectorAll(".mm--cards-inner");
    sliderImagesBox.forEach((el) => {
        let imageNodes = el.querySelectorAll(".mm--card-col:not(.hide)");
        let arrIndexes = [];
        (() => {
            let start = 0;
            while (imageNodes.length > start) {
                arrIndexes.push(start++);
            }
        })();
        let setIndex = (arr) => {
            for (let i = 0; i < imageNodes.length; i++) {
                imageNodes[i].dataset.slide = arr[i]; 
            }
        };
        const nextSlide = () => {
            arrIndexes.unshift(arrIndexes.pop());
            setIndex(arrIndexes);
        };
        const prevSlide = () => {
            arrIndexes.push(arrIndexes.shift());
            setIndex(arrIndexes);
        };
        el.parentNode.querySelector(".next").addEventListener("click", nextSlide);
        el.parentNode.querySelector(".prev").addEventListener("click", prevSlide);
        setIndex(arrIndexes);
    });
};
</script>
{% schema %}
  {
    "name": "MM Cards Slider",
    "settings": [
      {
        "type": "image_picker", 
        "id": "bg_image",
        "label": "Bg Image"
      },
      {
        "type": "text", 
        "id": "headline",
        "label": "Headline",
        "default": "Hear what athletes say about us" 
      },
      {
        "type": "image_picker",  
        "id": "mm_image",
        "label": "Image"
      },
      {
        "type":"header",
        "content":"Section Desktop Spacing" 
      }, 
      {
        "type": "range",
        "id": "desktop_padding_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Desktop Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Desktop Padding Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop_margin_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Desktop Margin Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "desktop_margin_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Desktop Margin Bottom",
        "default": 0
      },
      {
        "type":"header",
        "content":"Section Mobile Spacing"
      }, 
      {
        "type": "range",
        "id": "mbl_padding_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Mobile Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "mbl_padding_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Mobile Padding Bottom",
        "default": 0
      },
      {
        "type": "range",
        "id": "mbl_margin_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Mobile Margin Top",
        "default": 0 
      },
      {
        "type": "range",
        "id": "mbl_margin_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Mobile Margin Bottom",
        "default": 0
      }
    ],
     "blocks":[ 
        {
          "type":"add_slide",
          "name":"Slide",
          "settings":[ 
            {  
              "type": "text",
              "id": "headline",
              "label": "Headline",
              "default": "It's a great exactiy as advertised, reasonably priced, and very well made strap!"
            },
            {
              "type": "richtext",
              "id": "desc",
              "label": "Description",
              "default":"<p>I am impressed by the quality of the materials and craftsmanship.</p>"
            },
            {
              "type": "text", 
              "id": "name_text",
              "label": "Name", 
              "default": "Wendy G."
            } 
        ]
      }
    ],
    "presets": [
      {
        "name": "MM Cards Slider" 
      }
    ]
  }
{% endschema %}